@page
@model CourseListModel
@{
    ViewData["Title"] = "CourseList";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
    <label for="sort">Sort by: </label>
    <select name="sort">
        <option value="Select">Select</option>
        <option value="code">Course Code</option>
        <option value="grade">Grade</option>
        <option value="difficulty">Difficulty</option>
    </select>

    <label for="filter">Filter by: </label>
    <select name="filter">
        <option value="Select">Select</option>
        <option value="code">Course Code</option>
        <option value="grade">Grade</option>
        <option value="difficulty">Difficulty</option>
    </select>

    <input type="submit" class="submit" value="Submit"/>
</form>


<table>
    <tr>
        <th>Course Code</th>
        <th>Average Difficulty</th>
        <th>Average Grade Received</th>
    </tr>
    @foreach (var avg in Model.Averages) {
        <tr>
            <td><a asp-page="/Review" asp-route-id="@avg.code">@avg.code</a> </td>
            <td>@avg.difficulty</td>
            <td>@avg.grade</td>
        </tr>
    }
</table>